{
  "presets": ["es2015"],
  "plugins": [
    [
      "module-alias", [
      {"src": "./src/", "expose": "sabre"},
      {"src": "./src/lib", "expose": "lib"},
      {"src": "./test", "expose": "test"} ]
    ]
  ]
}
