{
  "presets": [
    "es2015"
  ],
  "plugins": [
    [
      "transform-object-rest-spread"
    ],
    [
      "module-alias",
      [
        {
          "src": "./src/",
          "expose": "sabre"
        },
        {
          "src": "./src/lib",
          "expose": "lib"
        },
        {
          "src": "./test",
          "expose": "test"
        }
      ]
    ]
  ]
}
