{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": {
      "babel-module-alias": {}
    }
  },
  "rules": {
    "semi": ["error", "never"],
    "new-cap": ["off"],
    "no-shadow": ["off"],
    "arrow-body-style": ["off"],
    "no-mixed-operators": ["off"],
    "global-require": ["off"],
    "import/no-unresolved": ["off"],
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-filename-extension": ["off"],
    "import/prefer-default-export": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "import/no-named-as-default": ["off"],
    "import/no-named-as-default-member": ["off"]
  }
}
